nav{
  position: relative;
  margin: 50px auto 0;
  width: 1500px;
  height: 50px;
  background-color: white;
  border-radius:  16px;
  font-size: 0;
  z-index: 1;
  
}
nav img{
  width: 200px;
  margin-right: 300px;
}
nav a{
  font-size: 18px;
  color: black;
  text-decoration: none;
  line-height: 50px;
  position: relative;
  display: inline-block;
  text-align: center;

}
a:nth-child(1){
  width: 100px;
}
a:nth-child(2){
  width: 110px;
  
}
a:nth-child(3){
  width: 180px;
  
}
a:nth-child(4){
  width: 160px;
  
}
a:nth-child(5){
  width: 160px;
  
}
a:nth-child(6){
  width: 160px;
  
}
a:nth-child(7){
  width: 120px;
  
}
.wave{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 500px;
  width: 100%;
  background-image:linear-gradient(90deg, rgba(250,128,114,0.5), rgba(106,90,205,0.5)), url("img/blog-item-03.png");
  background-repeat: no-repeat;
  background-size: cover;

  z-index: -1;
}
.wave::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 90%;
  width: 70%;
  height: 100px;
  background-color: white;
  left: -110px;
  top: 475px;
}
.content{
  text-align: center;
  margin-top: 150px;
}
.discovery{
  color: white;
  background-color: violet;
  padding: 15px;
  border-radius:  16px;

}
.circle{
  background: #456BD9;
  border: 0.1875em solid #0F1C3F;
  border-radius: 50%;
  box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
  height: 5em;
  width: 5em;
  margin-left: auto;
  margin-right: auto;
  

}
.box{
  float: left;
  position: relative;
  left: 25%;

  
  
}
.box1{
  display:table-cell; 
  
  background-color: white;
  height: 250px;
  width: 250px;
  align-items: center;
  border-radius:  16px;
  text-align: center;
  margin-right: 40px;
  box-shadow: 1px 1px 1px #AAA;
  
}
.box2{
  background-color: white;
  height: 250px;
  width: 250px;
  align-items: center;
  border-radius:  16px;
  text-align: center;
  margin-right: 40px;
  box-shadow: 1px 1px 1px #AAA;

  
}
.box3{
  background-color: white;
  height: 250px;
  width: 250px;
  align-items: center;
  border-radius:  16px;
  text-align: center;
  margin-right: 40px;
  box-shadow: 1px 1px 1px #AAA;
  
}
.split1 {
  height: 600px;
  width: 50%;
  position: absolute;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  margin-top: 600px;
}
.left {
  left: 0;
  
}

/* Control the right side */
.right {
  right: 0;
  
}
.centered img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.split2 {
  height: 600px;
  width: 50%;
  position: absolute;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  margin-top: 1000px;
}
.line1{
  margin-top: 1200px;
  height: 500px;
  background-color: #456BD9;
  text-align: center;
  color: white;
  background-image:linear-gradient(90deg, rgba(250,128,114,0.5), rgba(106,90,205,0.5)), url("img/blog-item-03.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.card{
  background-color: white;
  height: 150px;
  width: 100px;
  align-items: center;
  border-radius:  16px;
  text-align: center;
  margin-right: 40px;
  box-shadow: 1px 1px 1px #AAA;
  color: #0F1C3F;
  
}
.dot {
  height: 60px;
  width: 60px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  float: left;
  margin-left: 10px;
}
.line2{
  text-align: center;
  height: 500px;
  width: 100%;
}
.line3{
  text-align: center;
  height: 600px;
  width: 100%;
  background-color:#bbb;
}
.card1{
  height: 250px;
  width: 200px;
  background-color: white;
  align-items: center;
  box-shadow: 1px 1px 1px #AAA;
  padding: 15px;
  border-radius:  16px;
  margin-right: 30px;
  padding-bottom: 60px;
}
.bt{
  height: 40px;
  width: 100px;
  border-radius:  16px;
  background-color: violet;
}
.btl{
  height: 40px;
  width: auto;
  border-radius:  16px;
  background-color: purple;
  color: white;
}